.recipes-row {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5em;

  .recipes-header {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000;
  }

  .recipes-card {
    margin: 0.5rem auto;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 23%;
    transition: all linear 200ms;
    box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);

    &:hover {
      transform: scale(1.005);
      transition: all linear 200ms;
      z-index: 1;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

    .card-body,
    .card-footer {
      p {
        color: #000;
      }
    }

    .card-body {
      text-align: center;

      .recipe-title-container {
        min-height: 6rem;
      }

      img {
        margin: 1rem auto;
        border-radius: 50%;
      }
      .recipe-text {
        color: #000;
      }
    }

    .card-footer {
      p {
        font-size: 0.75em;
      }
    }

    .card-title {
      color: #000;
    }
  }
}
