.quote-card {
  box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 6px 10px 11px 2px rgba(0, 0, 0, 0.43);

  .card-title {
    color: #000;
    font-family: "Courgette", cursive;
  }
}
