.btn-custom {
  background-color: #ef476f !important;
  border-color: #ef476f !important;
  color: #fff !important;
  transition: 0.1s ease-in !important;

  &:hover,
  &:focus,
  &:active {
    background-color: #fff !important;
    border-color: #ef476f !important;
    color: #ef476f !important;
  }
}
