@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Poppins:ital@0;1&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  p,
  ul,
  ol,
  li,
  td,
  tr,
  thead,
  tbody {
    font-family: "Poppins", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
